$headerFooterBgColor: #ffe4c4;
$bannerBgColor: #8a2be2;
$linkColor: rgb(71 100 215);
$cardBgColor: #fff;
$cardBorderColor: #dddddd;
$bannerTextColor: #fff;
$mainBgColor: #f8f8f8;
$footerTextColor: #000101