.red { 
background-color: red;
} 
.blue { 
 background-color: blue;
 }    
 .green { 
background-color: green;
} 
.yellow { 
background-color: yellow;
}    
.black { 
background-color: black;
 } 
.violet { 
 background-color: violet;
}   
.container { 
    display: grid;   
    grid-template-rows: 100px 100px; 
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 100px auto;
    grid-template-rows: 50px 50px; */
    /* grid-gap: 10px; */
}

